@import "./variables.scss";

.img-container {
  cursor: -webkit-zoom-in;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out;

  .img-container__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: none;
  }

  &.img-container--loading {
    opacity: 0.5;
    filter: grayscale(1);
  }

  &.img-container--full-size {
    cursor: -webkit-zoom-out;
    overflow: auto;

    .img-container__img {
      max-width: none;
      max-height: none;
    }
  }
}

.render-progress {
  width: 100px;
  height: 20px;
  background-color: $white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 2px $black, 0 0 0 4px $white;
}

.render-progress__indicator {
  height: 100%;
  background-color: $black;
  transform: width 0.3s ease-in-out;
}
