@import "./variables.scss";

.input {
  background: transparent;
  border: none;
  border-bottom: 1px solid $white;
  box-sizing: border-box;
  color: $white;
  font-size: 1.2em;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;

  &::placeholder {
    color: #aaa;
  }

}
