@import "./variables.scss";

// https://css-tricks.com/snippets/css/shake-css-keyframe-animation/
@keyframes shake {
  10%, 90% {
    transform: translate3d(-3px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(3px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(3px, 0, 0);
  }
}

.input {
  border: none;
  color: #111;
  font-size: 25px;
  padding: 3px;
  text-align: center;
  background: $white;
  box-sizing: border-box;
  border-radius: 5px;

  &::placeholder {
    color: #aaa;
  }

  &.input--invalid {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    animation-iteration-count: infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  &.input--outlined {
    box-shadow: 1px 1px 3px #888 inset;
    border: 1px solid #888;
    background: #fff;
  }

  &.input--large {
    font-size: 25px;
    padding: 10px;
    width: 100%;
  }
}
