@import "./variables.scss";

.modal-container {
  @include fill-parent;
  z-index: $z-index--modal;
  visibility: hidden;
  transform: scale(1.5);
  opacity: 0;
  filter: blur(3px);
  transition: visibility 0s linear 0.1s,
    transform 0.5s ease-in-out,
    opacity 0.5s ease-in-out,
    filter 0.5s ease-in-out;

  &.modal-container--visible {
    transform: none;
    opacity: 1;
    filter: none;
    visibility: visible;
  }

  .modal-container__overlay {
    @include fill-parent;
    background-color: rgba(0,0,0,0.4);
    z-index: 2;
  }

  .modal-container__modal {
    @include center-in-parent;
    z-index: 2;
    width: 50%;
    padding: 10px;
  }
}
