@import "./variables.scss";

.nav {
  align-items: center;
  display: flex;
  transition: background-color 0.5s ease-in-out,
    color 0.5s ease-in-out,
    transform 0.5s ease-in-out 0.5s;
  transform: translateY(-100%);

  &.nav--visible {
    transform: none;
  }

  .nav__btn {
    transition: border-color 0.5s ease-in-out;
  }

  &.nav--fg-light {
    color: $white;

    .nav__btn {
      border-color: $white;
    }
  }
  &.nav--fg-dark {
    color: $black;

    .nav__btn {
      border-color: $black;
    }
  }

  .nav__inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;

    @media (max-width: 600px) {
      & {
        max-width: 700px;
      }
    }
  }

  .nav__input {
    width: 50px;
  }

  .nav__group {
    display: flex;
  }

  @media (max-width: 600px) {
    .nav__group--l {
      display: none;
    }
  }



  // .nav__inner {
  //   background-color: black;
  //   flex-direction: column;
  //   position: absolute;
  //   z-index: 30;
  //   top: 50%;
  //   transform: translateY(-50%);
  //
  //   & > *,
  //   & > .tooltip-container.tooltip-container {
  //     display: none;
  //   }
  //
  //   .nav__group--l {
  //     display: block;
  //     padding: 10px;
  //     width: 100%;
  //   }
  //
  //   .tooltip-container {
  //     align-items: center;
  //     display: flex;
  //
  //     .tooltip-container__tooltip {
  //       background: none;
  //       color: inherit;
  //       display: block;
  //       font-size: inherit;
  //       margin: 0;
  //       padding: 0;
  //       position: static;
  //       transform: none;
  //     }
  //   }
  // }




}
