@import "./variables.scss";

.search-results {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  position: relative;

  .search-results__empty-state-btn {
    @include plain-button;
    font-size: 80px;
    margin-left: auto;
    margin-right: auto;
  }

  .search-results__result-btn {
    @include plain-button;
    font-size: 35px;
    height: 50px;
    line-height: 1;
    width: calc(100% / 4);
    transition: transform 0.15s ease-in-out;

    &:hover {
      transform: scale(1.33);
    }
  }

  .search-results__more-indicator {
    align-items: center;
    display: flex;
    color: #aaa;
    height: 50px;
    width: calc(100% / 4);
    justify-content: center;
  }

}
