@import "./variables.scss";

.settings-menu {
  background: $white;
  padding: 15px;
  padding-bottom: 30px;
  box-shadow: 0 0 3px #333;
  border-radius: 5px;

  & > * + * {
    margin-top: 20px;
  }

  .settings-menu__section {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    border-radius: 5px;
    position: relative;
  }

  .settings-menu-btn {
    @include plain-button;
    padding: 3px 10px;
    padding-left: 15px;
    position: relative;
    font-size: 16px;
    width: 100%;

    &:before {
      content: "";
      height: 18px;
      border-left: 4px solid transparent;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:hover {
      background-color: $black;
      color: $white;
    }

    &.settings-menu-btn--selected:before {
      border-left-color: black;
    }

    .settings-menu-btn__inner {
      align-items: center;
      display: flex;
    }

    .settings-menu-btn__text {
      white-space: nowrap;
    }

    .settings-menu-btn__icon + .settings-menu-btn__text {
      margin-left: 10px;
    }

  }
}
