
$nav-height: 50px;
$main-vertical-padding: 10px;

$gray--light: #ccc;
$black: #111;
$white: #eee;

$z-index--modal: 10;
$z-index--loader: 20;

@mixin plain-button {
  background: none;
  border: none;
  box-shadow: none;
  color: inherit;
  cursor: pointer;
  display: block;
  padding: 0;
  text-decoration: none;
}

@mixin center-in-parent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin fill-parent {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
