@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "../node_modules/minireset.css/minireset.sass";

$nav-height: 50px;
$main-vertical-padding: 10px;

$gray--light: #eee;

body {
  font-family: sans-serif;
  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  min-height: 100vh;

  &:before {
    background-image: url("./transparency-indicator.svg");
    background-size: 80px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  .main__nav {
    box-shadow: 0 2px 4px $gray--light;
    max-height: $nav-height;
    min-height: $nav-height;
  }

  .main__content {
    box-sizing: border-box;
    flex-grow: 1;
    padding: $main-vertical-padding 20px;
  }

  .main__loader {
    visibility: hidden;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &.main__loader--loading {
      visibility: visible;
    }
  }
}

.img-container {
  cursor: -webkit-zoom-in;
  position: relative;

  .img-container__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: calc(100vh - #{$nav-height + 2 * $main-vertical-padding});
  }

  &.img-container--full-size {
    cursor: -webkit-zoom-out;
    overflow: auto;

    .img-container__img {
      max-width: none;
      max-height: none;
    }
  }

}

.icon-btn {
  background: none;
  box-shadow: none;
  border: none;
  color: inherit;
  cursor: pointer;
  display: block;
  margin-bottom: 3px;
  margin-top: 3px;
  padding: 3px 5px;
  text-decoration: none;

  &.icon-btn--selected {
    border-bottom: 3px solid #111;
    margin-bottom: 0;
  }

  .material-icons {
    display: block;
  }
}

.sk-cube-grid {
  width: 80px;
  height: 80px;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sk-cube-grid .sk-cube {
  &:before {
    content: "🔳";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 150%;
  }
  width: 33%;
  height: 33%;
  float: left;
  position: relative;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

.nav {
  align-items: center;
  display: flex;
  transition: background-color 0.5s ease-in-out,
    color 0.5s ease-in-out,
    transform 0.5s ease-in-out 0.5s;
  transform: translateY(-100%);

  &.nav--visible {
    transform: none;
  }

  .nav__btn {
    transition: border-color 0.5s ease-in-out;
  }

  &.nav--fg-light {
    color: #eee;

    .nav__btn {
      border-color: #eee;
    }
  }
  &.nav--fg-dark {
    color: #111;

    .nav__btn {
      border-color: #111;
    }
  }

  .nav__inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
  }

  .nav__input {
    border: none;
    font-size: 25px;
    padding: 3px;
    width: 50px;
    text-align: center;
    background: white;
  }

  .nav__group {
    display: flex;
  }
}

.tooltip-container {
  position: relative;

  .tooltip-container__tooltip {
    &:after {
      border: 5px solid transparent;
      border-left: 5px solid #111;
      border-right: none;
      content: "";
      display: block;
      position: absolute;
      left: 100%;
      top: 50%;
      margin-top: -5px;
    }

    background-color: #111;
    display: none;
    font-size: 12px;
    margin-right: 5px;
    padding: 5px;
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    z-index: 1;

    &.tooltip-container__tooltip--align-right {
      &:after {
        border-left: none;
        border-right: 5px solid #111;
        left: auto;
        right: 100%;
      }

      left: 100%;
      right: auto;
      margin-left: 5px;
      margin-right: 0;
    }

  }

  .tooltip-container__trigger:hover + .tooltip-container__tooltip {
    display: block;
  }
}
