@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "../node_modules/minireset.css/minireset.sass";

body {
  font-family: sans-serif;
  overflow: hidden;
}

input {
  // Newer emoji aren't displayed correctly if this isn't set.
  // (For example, Chrome displays "✈" instead of ✈️)
  font-family: sans-serif;
}

@import "./styles/cube-loader.scss";
@import "./styles/icon-button.scss";
@import "./styles/img-container.scss";
@import "./styles/input.scss";
@import "./styles/main.scss";
@import "./styles/modal-close-container.scss";
@import "./styles/modal-container.scss";
@import "./styles/nav.scss";
@import "./styles/search-results.scss";
@import "./styles/tooltip-container.scss";
